<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">

		<test name="DSS-Regression With Firefox">
		<parameter name="browser" value="firefox" />
		<parameter name="platform" value ="windows" />
		<parameter name="url" value ="http://nguxbeta:nguxtr!b@ngux.latimes.stage.tribdev.com" />
		<classes>
			<class name="com.dss.test.isologin.Execution" />
		</classes>
</test>
	

</suite>